In [1]:
import pandas as pd

In [2]:
def map_income(income):
    if income<=9036.8:
        return 'Low'
    else:
        return 'High'

In [3]:
average_number = pd.read_csv('../../TABLAS LATEX/languages.csv', sep=';', decimal=',')
average_number = average_number[['Language', 'Average']]
average_number

      Language  Average
0      English  5607.00
1      Spanish  2348.33
2       French   832.33
3      Chinese   770.00
4      Italian   579.00
5      Russian   560.33
6   Portuguese   462.67
7       Arabic   418.67
8     Japanese   410.33
9       German   388.67
10      Korean   175.00
11     Turkish   151.33
12      Polish    87.00
13       Hindi    78.00
14       Dutch    73.67
15   Ukrainian    71.33
16       Greek    67.33
17     Serbian    63.00
18     Tagalog    59.67
19  Indonesian    58.67
20     Persian    54.33
21        Thai    51.67
22  Vietnamese    49.67
23      Hebrew    46.67
24        Urdu    39.67
25   Hungarian    33.33
26     Swedish    30.67
27       Czech    25.00
28    Romanian    23.67
29     Catalan    23.33
30    Croatian    22.33
31     Punjabi    18.00
32       Tamil    14.67
33     Bengali    12.67
34       Latin    12.33
35      Danish    12.00
36   Bulgarian    11.67
37      Slovak    11.00
38   Norwegian    10.33
39     Finnish     6.33
40      Gaelic     2.67
41   Icelandic     2.33

# Preply

In [11]:
preply = pd.read_csv('../data/results/final_dataframes/preply.csv', index_col=0)
preply = preply.drop_duplicates(subset=['user_name', 'language'])

In [12]:
preply = pd.merge(preply, average_number, how='left', left_on='language', right_on='Language')
preply = preply.rename(columns={'Average': 'average_num_teachers'})

In [13]:
preply['income_level'] = preply['income_level'].apply(map_income)

In [ ]:
preply.head()

In [7]:
preply.columns

Index(['language', 'position', 'retrieval_date', 'is_featured', 'user_name',
       'url', 'nationality_full', 'avg_rating', 'num_ratings', 'teaches',
       'subjects', 'speaks', 'lessons', 'price', 'price_currency',
       'avatar_url', 'nationality', 'clean_name', 'sanitized_name', 'gender',
       'probability', 'count', 'first_name', 'probability_male',
       'probability_female', 'gender_tuned', 'income_level', 'Code'],
      dtype='object')

In [15]:
preply = preply[preply['average_num_teachers'] >= 100]

In [26]:
from scipy.stats import ks_2samp
import numpy as np

def hypothesis_test(group1, group2, alpha=0.1):
    st, p_value = ks_2samp(group1, group2)
    if p_value<alpha:
        return st, p_value
    else:
        return st, p_value
    
def compute_aggregated_feature_top_k(df, top_k, language_col, aggregation_col1, aggregation_col2, target_cols, group1_1, group1_2, group2_1, group2_2):
    
    results = pd.DataFrame(columns=['language', 'top_k', 'target_col', 'measure', 'High|Men', 'High|Women', 'Low|Men', 'Low|Women', 'count_High|Men', 'count_High|Women', 'count_Low|Men', 'count_Low|Women'])
    
    for lang in df[language_col].unique():
        temp = df[df[language_col]==lang]
        temp = temp.sort_values(by='position', ascending=True)
        
        for target in target_cols:
            temp = temp.dropna(subset=[target])
            if top_k is not None:
                temp = temp.head(top_k)
            
            temp[target] = pd.to_numeric(temp[target], errors='coerce')
            g1 = temp.loc[(temp[aggregation_col1]==group1_1) & (temp[aggregation_col2]==group2_1)][target].values
            g2 = temp.loc[(temp[aggregation_col1]==group1_1) & (temp[aggregation_col2]==group2_2)][target].values
            g3 = temp.loc[(temp[aggregation_col1]==group1_2) & (temp[aggregation_col2]==group2_1)][target].values
            g4 = temp.loc[(temp[aggregation_col1]==group1_2) & (temp[aggregation_col2]==group2_2)][target].values
            
            g1_count = len(g1)
            g2_count = len(g2)
            g3_count = len(g3)
            g4_count = len(g4)

            g1_mean = g1.mean() if g1_count else None
            g2_mean = g2.mean() if g2_count else None
            g3_mean = g3.mean() if g3_count else None
            g4_mean = g4.mean() if g4_count else None
            
            
            results = results.append({'language': lang, 'top_k': len(temp), 'target_col': target, 'measure': 'mean',
                                     'High|Men': g1_mean, 'High|Women': g2_mean, 'Low|Men': g3_mean, 'Low|Women': g4_mean, 'count_High|Men': g1_count, 'count_High|Women': g2_count, 'count_Low|Men': g3_count, 'count_Low|Women': g4_count}, ignore_index=True)

            g1_median = np.median(g1) if g1_count else None
            g2_median = np.median(g2) if g2_count else None
            g3_median = np.median(g3) if g3_count else None
            g4_median = np.median(g4) if g4_count else None

            results = results.append({'language': lang, 'top_k': len(temp), 'target_col': target, 'measure': 'median',
                                     'High|Men': g1_median, 'High|Women': g2_median, 'Low|Men': g3_median, 'Low|Women': g4_median, 'count_High|Men': g1_count, 'count_High|Women': g2_count, 'count_Low|Men': g3_count, 'count_Low|Women': g4_count}, ignore_index=True)
            
    return results

In [27]:
preply_results_100 = compute_aggregated_feature_top_k(preply, 100, 'language', 'income_level', 'gender_tuned', ['price'], 'High', 'Low', 'male', 'female')

In [30]:
preply_results_100

,language,top_k,target_col,measure,High|Men,High|Women,Low|Men,Low|Women,count_High|Men,count_High|Women,count_Low|Men,count_Low|Women
0,German,100,price,mean,27.588235,27.500000,28.8,15.7143,34,54,5,7
1,German,100,price,median,28.000000,25.500000,21,17,34,54,5,7
2,Portuguese,100,price,mean,15.785714,15.000000,11.55,13,14,26,20,40
3,Portuguese,100,price,median,17.000000,16.500000,12.5,13,14,26,20,40
4,Italian,100,price,mean,18.100000,18.514706,None,15,30,68,0,2
5,Italian,100,price,median,17.000000,17.500000,None,15,30,68,0,2
6,Russian,100,price,mean,17.062500,15.472727,14.3333,16.1923,16,55,3,26
7,Russian,100,price,median,14.000000,15.000000,13,15,16,55,3,26
8,English,100,price,mean,15.956522,16.300000,11,11.7143,23,40,9,28
9,English,100,price,median,16.000000,16.000000,8,12,23,40,9,28
10,Arabic,100,price,mean,13.333333,12.000000,11.2812,12.6441,6,3,32,59
11,Arabic,100,price,median,14.000000,8.000000,10,13,6,3,32,59
12,Turkish,100,price,mean,11.729730,12.425926,8.5,10.5714,37,54,2,7
13,Turkish,100,price,median,11.000000,13.000000,8.5,11,37,54,2,7
14,Chinese,100,price,mean,16.333333,18.236111,None,17,27,72,0,1
15,Chinese,100,price,median,16.000000,17.000000,None,17,27,72,0,1
16,Japanese,100,price,mean,18.500000,17.808824,None,None,32,68,0,0
17,Japanese,100,price,median,17.000000,17.000000,None,None,32,68,0,0
18,Spanish,100,price,mean,15.206897,16.349206,8,11,29,63,1,7
19,Spanish,100,price,median,12.000000,15.000000,8,12,29,63,1,7
20,French,100,price,mean,20.750000,24.932203,15.3333,19.0714,24,59,3,14
21,French,100,price,median,19.500000,24.000000,13,17,24,59,3,14
22,Korean,100,price,mean,17.473684,18.612903,None,None,38,62,0,0
23,Korean,100,price,median,17.000000,17.000000,None,None,38,62,0,0

In [32]:
preply_results_100.to_csv('../data/results/features_analysis/combined/preply.csv')

# Italki

In [33]:
italki = pd.read_csv('../data/results/final_dataframes/italki.csv', index_col=0)
italki = italki.drop_duplicates(subset=['user_id', 'language'])

In [34]:
italki = pd.merge(italki, average_number, how='left', left_on='language', right_on='Language')
italki = italki.rename(columns={'Average': 'average_num_teachers'})

In [35]:
italki['income_level'] = italki['income_level'].apply(map_income)

In [ ]:
italki.head()

In [37]:
italki = italki[italki['average_num_teachers'] >= 100]

In [38]:
italki.columns

Index(['position', 'retrieval_date', 'user_id', 'user_name',
       'avatar_file_name', 'video_picture', 'is_pro', 'nationality', 'teaches',
       'also_speaks', 'in_platform_since', 'rating', 'number_sessions',
       'price', 'price_time', 'price_currency', 'clean_name', 'sanitized_name',
       'gender', 'probability', 'count', 'language', 'probability_male',
       'probability_female', 'gender_tuned', 'income_level', 'Code',
       'Language', 'average_num_teachers'],
      dtype='object')

In [41]:
italki_results_100 = compute_aggregated_feature_top_k(italki, 100, 'language', 'income_level', 'gender_tuned', ['price'], 'High', 'Low', 'male', 'female')

In [42]:
italki_results_100

,language,top_k,target_col,measure,High|Men,High|Women,Low|Men,Low|Women,count_High|Men,count_High|Women,count_Low|Men,count_Low|Women
0,German,100,price,mean,2273.089286,2375.000000,836,1450,56,38,2,4
1,German,100,price,median,1800.000000,2050.000000,836,1500,56,38,2,4
2,Portuguese,100,price,mean,1429.444444,1857.142857,947.514,1090.19,9,7,37,47
3,Portuguese,100,price,median,1400.000000,1700.000000,800,1000,9,7,37,47
4,Italian,100,price,mean,1630.260870,1599.980769,None,1250,46,52,0,2
5,Italian,100,price,median,1500.000000,1500.000000,None,1250,46,52,0,2
6,Russian,100,price,mean,1212.222222,1256.808511,658.25,1124.84,18,47,4,31
7,Russian,100,price,median,1160.000000,1100.000000,666.5,1100,18,47,4,31
8,English,100,price,mean,1736.854167,1766.071429,1590,1302.78,48,28,6,18
9,English,100,price,median,1600.000000,1650.000000,1325,1200,48,28,6,18
10,Arabic,100,price,mean,1500.000000,5000.000000,997.042,1128.15,2,1,71,26
11,Arabic,100,price,median,1500.000000,5000.000000,1000,1000,2,1,71,26
12,Turkish,100,price,mean,943.729167,1061.219512,718,1130,48,41,5,6
13,Turkish,100,price,median,850.000000,1000.000000,800,1090,48,41,5,6
14,Japanese,100,price,mean,1940.703704,1575.602740,None,None,27,73,0,0
15,Japanese,100,price,median,1600.000000,1400.000000,None,None,27,73,0,0
16,Spanish,100,price,mean,1261.000000,1440.783784,938.385,1000.88,25,37,13,25
17,Spanish,100,price,median,1200.000000,1200.000000,800,1000,25,37,13,25
18,French,100,price,mean,1708.224490,1973.974359,1030,1387.5,49,39,8,4
19,French,100,price,median,1590.000000,2000.000000,995,1125,49,39,8,4
20,Korean,100,price,mean,1431.951220,1577.118644,None,None,41,59,0,0
21,Korean,100,price,median,1300.000000,1500.000000,None,None,41,59,0,0

In [43]:
italki_results_100.to_csv('../data/results/features_analysis/combined/italki.csv')

# Verbling

In [44]:
verbling = pd.read_csv('../data/results/final_dataframes/verbling.csv', index_col=0)
verbling = verbling.drop_duplicates(subset=['first_name', 'last_name', 'language'])

In [45]:
verbling = pd.merge(verbling, average_number, how='left', left_on='language', right_on='Language')
verbling = verbling.rename(columns={'Average': 'average_num_teachers'})

In [46]:
verbling['income_level'] = verbling['income_level'].apply(map_income)

In [ ]:
verbling.head()

In [48]:
verbling = verbling[verbling['average_num_teachers'] >= 100]

In [49]:
verbling.columns

Index(['language', 'position', 'retrieval_date', 'is_featured', 'first_name',
       'last_name', 'url', 'nationality', 'location', 'avg_rating',
       'avg_lessons_per_students', 'num_ratings', 'teaching_levels', 'teaches',
       'class_details', 'speaks', 'lessons', 'students', 'dialect',
       'price_currency', 'avatar_url', 'clean_name', 'sanitized_name',
       'gender', 'probability', 'count', 'price_detail', 'price',
       'probability_male', 'probability_female', 'gender_tuned',
       'income_level', 'Code', 'Language', 'average_num_teachers'],
      dtype='object')

In [50]:
verbling_results_100 = compute_aggregated_feature_top_k(verbling, 100, 'language', 'income_level', 'gender_tuned', ['price'], 'High', 'Low', 'male', 'female')

In [51]:
verbling_results_100.to_csv('../data/results/features_analysis/combined/verbling.csv')

In [52]:
verbling_results_100

,language,top_k,target_col,measure,High|Men,High|Women,Low|Men,Low|Women,count_High|Men,count_High|Women,count_Low|Men,count_Low|Women
0,German,67,price,mean,29.307879,35.893824,None,None,33,34,0,0
1,German,67,price,median,29.000000,33.000000,None,None,33,34,0,0
2,Portuguese,89,price,mean,22.000000,18.714286,13.9626,15.6,5,14,27,43
3,Portuguese,89,price,median,22.000000,19.500000,13,15,5,14,27,43
4,Italian,100,price,mean,18.998788,21.549254,None,None,33,67,0,0
5,Italian,100,price,median,19.000000,20.000000,None,None,33,67,0,0
6,Russian,89,price,mean,15.554444,16.538125,16.3333,15.2077,9,64,3,13
7,Russian,89,price,median,15.000000,15.000000,16,14,9,64,3,13
8,English,100,price,mean,22.961020,25.464048,12.5,15,49,42,3,6
9,English,100,price,median,21.000000,24.600000,14.5,14.5,49,42,3,6
10,Arabic,99,price,mean,14.333333,21.000000,12.5444,14.075,3,2,54,40
11,Arabic,99,price,median,17.000000,21.000000,12.5,14,3,2,54,40
12,Turkish,36,price,mean,17.897000,18.687500,None,None,20,16,0,0
13,Turkish,36,price,median,15.000000,18.000000,None,None,20,16,0,0
14,Chinese,100,price,mean,23.190476,20.993544,None,None,21,79,0,0
15,Chinese,100,price,median,20.000000,20.000000,None,None,21,79,0,0
16,Japanese,56,price,mean,20.923077,25.166667,None,13,13,42,0,1
17,Japanese,56,price,median,19.000000,23.500000,None,13,13,42,0,1
18,Spanish,100,price,mean,16.791667,17.452041,16.075,15.0247,24,49,8,19
19,Spanish,100,price,median,15.000000,17.000000,16.5,15,24,49,8,19
20,French,100,price,mean,24.102941,27.104386,14.8557,15.5,34,57,7,2
21,French,100,price,median,25.000000,25.000000,12,15.5,34,57,7,2
22,Korean,46,price,mean,22.428571,24.743750,None,None,14,32,0,0
23,Korean,46,price,median,25.000000,23.500000,None,None,14,32,0,0

In [53]:
verbling_results_100.to_csv('../data/results/features_analysis/combined/verbling.csv')